:root {
  --background: #36394d;
  --form_background: #ffffff;
  --check_color: #35384d;
  --text_color: #21263b;
}

@font-face {
  font-family: site_font;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: site_font_bold;
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

body {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.mobile {
  display: none;
}

.form_container {
  background-color: var(--form_background);
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas: "left right";
  padding: 16px;
}

.left_side {
  padding: 2rem;
  grid-area: left;
  display: flex;
  flex-direction: column;
}

.right_side {
  grid-area: right;
}

.right_side img {
  width: 100%;
}

.left_side .checkbox_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.left_side .title {
  font-size: 2.5rem !important;
  font-weight: 600;
  font-family: site_font_bold;
  color: var(--text_color);
}

.left_side p {
  font-family: site_font;
}

.left_side .success {
  display: flex;
  align-items: center;
  gap: 12px;
}

.left_side img {
  width: 20px;
}
.left_side .success span {
  font-size: 14px;
  font-family: site_font;
  color: var(--text_color);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 12px;
}

form label {
  color: var(--text_color);
  font-family: site_font_bold;
  font-size: 0.8rem;
}

form input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(216, 213, 213, 0.982);
  padding-left: 12px;
  font-family: site_family;
  outline: none;
}

form input ::placeholder {
  font-family: site-font;
  font-size: 14px;
}

form button {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--background);
  color: white;
  font-family: site-font;
  font-size: 14px;
  border: none;
  transition: 300ms all;
}

button:hover {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  color: var(--text_color);
}

form input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  body {
    display: block;
    padding: 0;
    margin: 0;
    overflow: scroll;
    background-color: none;
  }

  .form_container {
    background-color: var(--form_background);
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "right" "left";
    grid-template-rows: 1fr;
    padding: 16px;
    height: 100vh;
  }
  .left_side {
    padding: 0;
  }

  .right_side .desktop {
    display: none;
  }
  .right_side .mobile {
    display: block;
    width: 100%;
  }

  .form_container {
    padding: 0;
  }
}
